Configuració:

network:
  version: 2
  renderer: networkd
  ethernets:
    enp0s3:
      addresses:
        - "ip"
      nameservers:
        addresses:
          - "ipdom"

Configuració de domini:
    network:
  ethernets:
    enp1s0:
      dhcp4: true
    enp2s0:
      addresses:
        - "ip"
      nameservers:
        addresses:
          - "ip del dominio"
        search:
          - "dominio"

            network:
  version: 2
  renderer: networkd
  ethernets:
    enp1s0:
      addresses:
        - 172.16.102.69/24
      gateway4: 172.16.102.1
      nameservers:
        addresses:
          - 172.16.102.1
    enp2s0:
      dhcp4: no
